
.topdestivacation--container {
    width: 100%;
    height:240px;
    padding: 0 10px;
    position: relative;

    /* height: 100%; */
    border-radius: 12px;
/* margin: 0 15px; */
}

.topdestivacation--img {
height: 100%;
overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
        &:hover 
        {
            transform: scale(1.1);
            transition: 1s linear;
            border-radius: 12px;
            background-color: #8f3c3c65;
        }

    }

}

.topdestivacation--content {
    position: absolute;
    bottom: 20px;
    left: 20px;

    p {
        margin: 0px;
        font-size: 23px;
        color: var(--whitecolor);
        font-weight: 500;
        font-family: var(--font--poppins);

    }
}

.majesticCard--container {
    flex: 0 0 calc(33.33% - 30px);
    padding-top: 45px;
    position: relative;

    &:nth-child(2) {
        margin-top: 70px;
    }

    .majesticc--p {
        position: absolute;
        color: white;
        top: 7em;
        text-align: center;
        justify-content: center;
        display: flex;
        width: 100%;

        .majestic--title {

            font-size: 36px;
            font-family: var(--font--poppins);


        }
    }

    .majesticCard--img {
        position: relative;
        width: 100%;
        height: 622px;

        img {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

    }

    .majestic--overlay {
        background-color: #1d1d1d36;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    .majesticCard--content {
        margin-top: 30px;
        padding: 0px 5px;
        width: 100%;

        p {
            color: var(--blackcolor);
            font-size: 18px;
            line-height: 27px;
            text-align: center;
        }
    }

}

.ourtrendingpaccard--container {
    border: 2px solid var(--fikagray);
    border-radius: 15px;
    

    .ourtrendingpaccard--subcontainer {
        padding: 25px;
    }

    .ourtrendingpaccard--img {

        position: relative;
        border-radius: 10px;
        overflow: hidden;

        img {
            width: 100%;
          

        }
      

        .ourtrnding--overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
            background: rgb(241, 241, 241);
            background: linear-gradient(180deg, rgba(241, 241, 241, 1) 0%, rgba(249, 249, 249, 0) 0%, rgba(15, 15, 15, 0.1337535014005602) 53%,
             rgba(16, 16, 16, 0.604341736694678) 100%);
           

        }

        .ourtrendingpaccard--content--ii {
            position: absolute;

            display: flex;
            bottom: -5px;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding: 0px 40px 0px 10px;

            color: var(--whitecolor);

            .aapio {
                gap: 10px;
                display: flex;
                font-size: 20px;
            }
        }
    }

    .gapio {
        display: flex;
        gap: 10px;
        color: var(--blackcolor);
        align-items: center;

    }

    .ourtrendingpaccard--content--ss {
        display: flex;
        justify-content: space-between;
        color: var(--blackcolor);
        padding: 10px 0px 10px 0px;
        align-items: center;
        cursor: pointer;

        span {
            color: var(--primary-color);
            font-size: 22px;
            &:hover{
                color:var(--secondary-color);
            }
        }

        p {
            margin: 0;
            font-size: 18px;
            font-family: var(--font--poppins);
            color: var(--graycolor);
        }
    }

    .ourtrendingpaccard--content {
        padding-top: 30px;

        h4 {
            font-size: 26px;
            color: var(--blackcolor);
            font-family: var(--font--poppins);
            font-weight: 600 !important;
        }

        .ourtrendingpaccard--content-bb {
            display: flex;
            justify-content: space-between;
            padding-top: 20px;
            align-items: center;
            cursor: pointer;

            button {
                background-color: var(--primary-color);
                color: var(--whitecolor);
                border: none;
                padding: 10px 20px;
                border-radius: 4px;
                font-family: var(--font--poppins);
                text-transform: capitalize;
                font-size: 16px;
                &:hover 
                {
                    background-color: var(--secondary-color);
                    color:var(--whitecolor);
                }
            }

            p {
                font-family: var(--font--poppins);
                font-size: 22px;
                color: var(--graycolor);
                font-weight: 600 !important;
                margin: 0;

            }
        }

        .ourtrendingpaccard--content--jj {
            display: flex;
            gap: 10px;
            color: var(--blackcolor);
            align-items: center;
            cursor: pointer;

            span {
                color: var(--primary-color);
                font-size: 22px;
                &:hover{
                    color: var(--secondary-color);
                }
            }

            p {
                margin: 0;
                font-size: 18px;
                font-family: var(--font--poppins);
                color: var(--graycolor);
            }
        }





    }
}

.packagecard--container {
    .packagecard--subcontent p {
        display: flex;
        align-items: center;
        gap: 10px;
        /* column-gap: 10px; */
        margin-bottom: 10px !important;
        color: #797979 !important;
        font-weight: 500;
    }

    .pack-wrap {
        padding: 14px;
        border: 2px #DADADA solid;
        border-radius: 15px;
        position: relative;
       overflow: hidden;
    }
    .packagecard--img {
        width: 100%;
        img {

            border-radius: 10px;
            width: 100%;
            overflow: hidden;
        }
    }

    .starCount {
        display: flex;
        gap: 10px;
        margin-top: 18px;
        margin-bottom: 6px;
    }

    .starDisplay {
        display: flex;
        gap: 3px;

        svg {
            height: 16px;
        }
    }

    .starCoundown {
        color: #797979;
        font-size: 15px;
    }

    .sticker {
        background: rgb(232, 116, 8);
        background: linear-gradient(90deg, rgba(232, 116, 8, 1) 0%, rgba(255, 185, 90, 1) 35%, rgba(255, 212, 161, 1) 45%, rgba(255, 164, 71, 1) 58%, rgba(232, 116, 8, 1) 100%);
        color: var(--primary-color);
        position: absolute;
        top: 38px;
        left: -40px;
        padding: 2px 60px;
        font-size: 18px;
        font-weight: 600;
        transform: rotate(-45deg);
        box-shadow: 0 4 4 0 #000000;
    }

    .packagecard--content {
        padding-top: 5px;
        h4 {
          
            font-family: var(--font--poppins);
            color: var(--primary-color);
            font-weight: 600 !important;
            list-style: 29px;
            margin: 0px;
            margin-bottom: 6px;
            font-size: 22px;
            padding:0px 20px 0px 0px;
            line-height: 27px;


        }

        p {
            color: var(--sub--header);
            margin: 0px !important;
            font-size: 16px;
            line-height: 22px;
            font-family: var(--font-family-pop);
            padding:4px 0px;
          
        }
    }
    .cardFooter
    {
        padding-top: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .buttonWrapper
        {
            height: max-content;
            button 
            {
                background-color: var(--primary-color);
                border:none;
                color:var(--whitecolor);
                padding:10px 20px;
                border-radius: 8px;
                font-family: var(--font--poppins);
            }
        }
        .pricetag--c
        {
            color:var(--primary-color) !important;
            font-family: var(--font--poppins);
            font-weight: 600 !important;
            margin:0px;
        }
    }
}


.activitiescard--wrapper
{
    position: relative;
    .activitiescard--img
    {
      border-radius: 15px;
      position: relative;
    
      img 
      {
       object-fit: cover;
        height: 100%;
        border-radius: 15px;
        width: 100%;
      }
    }
     .activitiescard--content
    {
        background-color: var(--primary-color);
        position: absolute;
        width: 70%;
        bottom:20px;
        color:var( --whitecolor);
        border-radius: 0px 50px 50px 0px;
        padding:8px 15px;
        h4 
        {
            font-family: var(--font--poppins);
            margin: 0px;
            font-size: 18px !important;
            font-weight: 500 !important;

        }
        p {
            margin: 0px;
            font-size: 14px !important;
        }
    }
}
.destinationcard--container
{
   
  
    .dest 
    {
       border:2px solid var(--fikagray);
        border-radius: 15px;
        padding:20px;
        
        .destcard--img 
        {
            img 
            {
                width: 100%;
            }
        }
        .destcard--content
        {

            .destcard--subcontent
            {
                display: flex;
                justify-content: space-between;
                align-items: center;
                
            }
            padding-top: 15px;
            h4 
            {
                color:var(--primary-color);
                font-family: var(--font--poppins);
                font-size: 22px;
                font-weight: 500;
            }
            span 
            {
                color:var(--secondary-color);
                display: flex;
                gap:5px;
            }
            p 
            {
                margin:0px;
                padding: 10px 0px;
                font-family: var(--font--poppins);
                font-size: 16px;
            }
            .btno
            {
                height: fit-content;
            }
        }
    }
}
.Testimonialcard--wrap{
    /* width: 700px; */
    background-color: var(--whitecolor);
    padding:30px 40px;
    border-radius: 20px;
    margin: 0 15px;
   .testcard--info
   {
    display: flex;
    align-items: center;
    gap:20px;
    .client-img
    {
   height: 90px;
   img 
   {
    height: 100%;
    
   } 
    }
   
    .client--info
    {
        h4 
        {
            color: var(--primary-color);
            font-family: var(--font--poppins);
            font-weight: 600 !important;
            margin:0px;
            font-size: 26px;
        }
        p 
        {
            color:var(--graycolor);
            font-family: var(--font--poppins);
            font-weight: 500 !important;
            font-size: 20px;
            margin-top: 8px;
        }
    }
   } 
   .testcard-content
   {
    padding-top: 24px;
    p 
    {
        font-family: var(--font--poppins);
        font-size: 18px;
        color:var(--sub--header);
        line-height: 26px;
        letter-spacing: 0.5px;

    }
   }
}