.feedbackform--container
{
    background-color: var(--whitecolor);
    width: 50%;
    min-width: 951px;
    margin-left: -239px;
    padding: 31px;
    border-radius: 15px;
    box-shadow: 0 4 44 0 rgba(4,94, 239,0.36);
    label 
    {
        display: block;
        font-family: var(--font--poppins);
        font-size: 14px;
    }
    input 
    {
        width: 100%;
    }
   
    select 
    {
        width: 100%;
    }
    textarea 
    {
        width: 100%;
    }
    .form--div
    {
        display: flex;
        justify-content: space-between;
        input 
        {
            width: 100%;
        }
    }
}
.feedbackform--container input {
    border: 2px #292929 solid;
    border-radius: 5px;
    height: 45px;
}
.feedbackform--container label{
    font-size: 18px;
    color:#292929;
    font-weight: 600;
    margin-bottom: 8px;
}
.feedbackform--container input, .feedbackform--container select, .feedbackform--container textarea,.feedbackform--container select{
    border: 2px #292929 solid;
    border-radius: 5px;
    height: 45px;
    font-size: 18px;
    padding:0 10px;
    color: #797979;
    margin-bottom: 20px;

}
.feedbackform--container textarea{
    height: 110px;
}
.formfeedback--container h2 {
    font-size: 50px;
    font-family: var(--font-librecalson);
    font-weight: 500;
    margin-left: -175px;
    margin-bottom: 79px;
    padding-top: 37px;
    display: inline-block;
    position: relative;
}
.formfeedback--container h2:after{
    content: '';
    height: 30px;
    width: 100%;
    background-image: url(../Images/titlebg.png);
    position: absolute;
    background-repeat: no-repeat;
    right: 0;
    background-position: right;
    bottom: -30px;
}
.sections--wrapper .row{
    margin: 0;
    .col-6{
        padding: 0;
    }
}