:root
{
    --section--header:40px;
    --medium-fontsize:22px;
    --small-fontsize:16px;
    --primary-color:#0E6097;
    --secondary-color:#E8AB12;
    --whitecolor:#ffffff;
    --subheader--color:#4A4A4A;
    --blackcolor:#292929;
   
    --font-librecalson: "Libre Caslon Text", serif;
    --font--inter:"Inter", sans-serif;
    
}